:root {
	--color-bg-primary: #0566fa;
	--color-bg-secondary: #f95d51;
	--color-link: #00c6f2;
	--color-white: #fff;
	--color-black: #121212;

	--container-extra: calc(1200px - 10px);
}

*,
*:before,
*:after {
	box-sizing: border-box;
	vertical-align: top;
	font-weight: 400;
	font-family: 'Arial', sans-serif;
	line-height: 1.1875;
}

html,
body,
#root {
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.header {
	padding-top: 15px;
	background-color: var(--color-black);
	min-height: 100vh;
}

.container {
	max-width: var(--container-extra);
	padding: 0 10px;
	margin: 0 auto;
}

.list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.page {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

/* Компьютерное устройство L */
@media (max-width: 62rem) {
}

/* Мобильные устройства MD */
@media (max-width: 48rem) {
}

/* Мобильные устройства sm */
@media (max-width: 36rem) {
	.list {
		flex-direction: column;
	}
}
