:root {
	--color-bg-primary: #0566fa;
	--color-bg-secondary: #f95d51;
	--color-link: #00c6f2;
	--color-white: #fff;
	--color-black: #121212;
	--color-transpernat: #00000060;

	--border: 10px;

	--container-extra: calc(1200px + 40px);
}

*,
*:before,
*:after {
	box-sizing: border-box;
	vertical-align: top;
	font-weight: 400;
	font-family: 'Arial', sans-serif;
	line-height: 1.1875;
	scroll-behavior: smooth;
}

html,
body,
#root {
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.header {
	padding: 15px 0 30px;
	background-color: var(--color-black);
}

.container {
	max-width: var(--container-extra);
	padding: 0 20px;
	margin: 0 auto;
}

.page {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
	padding: 100px 0;
}

.bg-black {
	background-color: var(--color-black);
}

.bg-white {
	background-color: var(--color-white);
}

.space_middle {
	padding: 80px 0;
}

.modal_transition-enter {
	opacity: 0;
}
.modal_transition-enter-active {
	opacity: 1;
	transition: opacity 300ms, transform 300ms;
}
.modal_transition-exit {
	opacity: 1;
}
.modal_transition-exit-active {
	opacity: 0;
	transition: opacity 300ms, transform 300ms;
}

/* Компьютерное устройство L */
@media (max-width: 62rem) {
}

/* Мобильные устройства MD */
@media (max-width: 48rem) {
}

/* Мобильные устройства sm */
@media (max-width: 36rem) {
	.list {
		flex-direction: column;
	}
}
