.panel {
	display: flex;
	justify-content: center;
	gap: 10px;
}

/* Компьютерное устройство L */
@media (max-width: 62rem) {
	.panel {
		flex: 1 1 auto;
	}
}

/* Мобильные устройства MD */
@media (max-width: 48rem) {
}

/* Мобильные устройства sm */
@media (max-width: 36rem) {
}
