.header {
	padding: 15px 0 30px;
	background-color: var(--color-black);
}

.header_logo {
	padding: 1rem 0;
}

.header_top {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.link_number {
	text-align: center;
}

/* Мобильные устройства sm */
@media (max-width: 36rem) {
	.header_logo {
		text-align: center;
	}
}
