/* Скелет */

.link {
	flex-shrink: 0;
	text-decoration: none;
	display: inline-flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	transition: 0.3s color, 0.3s background, 0.3s border;
}

.link_size_medium {
	padding: 8px 26px;
}

.link_size_large {
	padding: 16px 50px;
}

.link_primary {
	border: 1px solid var(--color-white);
	color: var(--color-white);
	background: transparent;
}

.link_secondary {
	border: 1px solid var(--color-bg-primary);
	color: var(--color-white);
	background: var(--color-bg-primary);
}

.link_secondary > p {
	font-weight: 600;
}

.link:focus-visible {
	outline: 1px solid #f01212 !important;
}

/* Компьютерное устройство L */
@media (max-width: 62rem) {
}

/* Мобильные устройства MD */
@media (max-width: 48rem) {
}

/* Мобильные устройства sm */
@media (max-width: 36rem) {
	.link {
		flex: 1 1 auto;
	}
}

@media (hover: hover) {
	/* when hover is supported */
	.link_primary:hover {
		border: 1px solid var(--color-bg-primary);
		background: var(--color-bg-primary);
	}

	.link_secondary:hover {
		border: 1px solid var(--color-bg-primary);
		background: var(--color-black);
	}

	.link_secondary:hover > p {
		color: var(--color-link);
	}
}

@media (hover: none) {
	/* when hover is supported */
	.link_primary:active {
		border: 1px solid var(--color-bg-primary);
		background: var(--color-bg-primary);
	}

	.link_secondary:active {
		border: 1px solid var(--color-bg-primary);
		background: var(--color-black);
	}
}
