.banner {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: calc(100vh - 16rem);
	gap: 10px;
	padding-bottom: 40px;
}

.banner_inner {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 3rem;
}

.banner_heading {
	margin-top: 1rem;
	max-width: 51%;
}

.banner_img {
	position: absolute;
	right: 0;
	top: 35%;
	width: 40%;
	display: block;
	object-fit: contain;
	z-index: 1;
}

/* Мобильные устройства sm */
@media (max-width: 36rem) {
	.banner {
		min-height: calc(100vh - 26rem);
	}

	.banner_inner {
		padding-bottom: calc(152px + 33px);
	}

	.banner_heading {
		max-width: 100%;
	}

	.banner_img {
		width: 300px;
		top: 100%;
		transform: translateY(-120%);
	}
}
