/* Скелет */

.logo_wide {
	flex: 1 1 auto;
}

.logo_link {
	display: inline-block;
}

.logo_size_medium {
	width: 220px;
	height: auto;
}

.logo_size_small {
	width: 100px;
	height: auto;
}

/* Компьютерное устройство L */
@media (max-width: 62rem) {
}

/* Мобильные устройства MD */
@media (max-width: 48rem) {
}

/* Мобильные устройства sm */
@media (max-width: 36rem) {
	.logo_size_medium {
		width: 180px;
		height: auto;
	}
}

@media (hover: hover) {
	/* when hover is supported */
}

@media (hover: none) {
	/* when hover is supported */
}
