/* Скелет */

.logo {
	flex: 0 0 auto;
}

.logo_wide {
	flex: 1 1 auto;
}

.logo_link {
	display: inline-block;
}

.logo_size_medium {
	width: 220px;
	height: auto;
}

.logo_size_small {
	width: 100px;
	height: auto;
}

/* Мобильные устройства sm */
@media (max-width: 36rem) {
	.logo_size_medium {
		width: 180px;
		height: auto;
	}
}
