.footer_content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 3rem;
}

.footer_card {
	display: flex;
	flex-direction: column;
}

.footer_info {
	margin-top: 15px;
	max-width: 163px;
}

.foter_cop {
	margin-top: -30px;
}

/* Мобильные устройства MD */
@media (max-width: 48rem) {
	.footer_card {
		flex: 1 1 auto;
	}

	.foter_cop {
		margin-top: 0;
	}
}

@media (max-width: 26rem) {
	.card_top {
		display: flex;
		flex-direction: row;
		gap: 3rem;
	}

	.footer_info {
		max-width: 100%;
	}
}
