.product {
	padding: 40px 0 40px;
}

.product_content {
	display: flex;
	flex-wrap: wrap;
}

.product_list {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 65%;
	gap: 3rem;
}

.product_item {
	flex: 0 0 calc(100% / 2 - 3rem);
}

.certificate {
	max-width: 350px;
}

.certificate_img {
	margin: 2rem 0;
	width: 100%;
	display: block;
}

.training {
	padding: 40px 0 80px;
	background-color: var(--color-white);
}

.training_title {
	margin-bottom: 80px;
}

.training_cards {
	display: flex;
	flex-wrap: wrap;
	gap: 3rem;
}

.consultation {
	padding: 50px 30px;
	margin-top: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--color-black);
	border-radius: var(--border);
}

.consultation_item {
	flex: 1 1;
}

.consultation_heading {
	margin-bottom: 30px;
}

.consultation_paragraph {
	margin-bottom: 30px;
}

.consultation_button {
	text-align: right;
}

.bighole_title {
	margin-bottom: 40px;
}

.bighole_description {
	margin-bottom: 40px;
}

.bighole_info {
	margin-bottom: 40px;
}

/* Компьютерное устройство L */
@media (max-width: 62rem) {
	.product_list {
		flex-basis: 100%;
	}
}

/* Мобильные устройства MD */
@media (max-width: 48rem) {
	.consultation {
		flex-direction: column;
		align-items: flex-start;
	}
}

/* Мобильные устройства sm */
@media (max-width: 36rem) {
	.product_list {
		flex-direction: column;
	}

	.product_item {
		flex: 1 1;
	}

	.consultation_button {
		text-align: left;
	}
}
