.training {
	padding: 40px 0;
	background-color: var(--color-white);
}

.training_title {
	margin-bottom: 80px;
}

.training_cards {
	display: flex;
	flex-wrap: wrap;
	gap: 3rem;
}

.consultation {
	padding: 50px 30px;
	margin-top: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--color-black);
	border-radius: var(--border);
}

.consultation_item {
	flex: 1 1;
}

.consultation_heading {
	margin-bottom: 30px;
}

.consultation_paragraph {
	margin-bottom: 30px;
}

.consultation_button {
	text-align: right;
}

/* Компьютерное устройство L */
@media (max-width: 62rem) {
}

/* Мобильные устройства MD */
@media (max-width: 48rem) {
	.training_title {
		margin-bottom: 40px;
	}

	.consultation {
		flex-direction: column;
		align-items: flex-start;
	}
}

/* Мобильные устройства sm */
@media (max-width: 36rem) {
	.consultation_button {
		text-align: left;
	}
}
