/* Скелет */

.paragraph {
	transition: 0.3s color;
}

.paragraph_italic {
	font-style: italic;
}

.paragraph_size_small {
	font-size: 1rem;
}

.paragraph_size_medium {
	font-size: 1.125rem;
}

.paragraph_size_large {
	font-size: 1.25rem;
}

.paragraph_size_extra {
	font-size: 2.25rem;
}

.paragraph_primary {
	color: var(--color-black);
}

.paragraph_secondary {
	color: var(--color-white);
}

/* Компьютерное устройство L */
@media (max-width: 62rem) {
	.paragraph_size_extra {
		font-size: 2rem;
	}
}

/* Мобильные устройства sm */
@media (max-width: 36rem) {
	.paragraph_size_extra {
		font-size: 1.75rem;
	}

	.paragraph_size_medium {
		font-size: 0.875rem;
	}
}

/* Мобильные устройства sm */
@media (max-width: 26rem) {
	.paragraph_size_extra {
		font-size: 1.25rem;
	}
}
